body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white ;
}


h1{
    width:100%;
    background-color: blue;
    border: 1px solid red;
    padding:10px;
    margin-top:-7px;
}